.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: alda, Georgia, serif;
  color: #243641;
}

.cards-container {
  background-color: var(--light-color);
}

.cards > div > div > div {
  width: 50%;
}

.cards .cards-card-body {
  margin: 16px;
}


.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards img {
  float: right;
  width: 80%;
}

.cards-wrapper > div > div > div {
  float: left;
}

